$primary-white-color: rgba(255, 255, 255, 1);
$red-color: #ff001b;
$primary-black-color: rgba(0, 0, 0, 1);
$accent-text-color: rgba(255, 107, 8, 1);
$accent-bg-color: #ff6b08;
$grey-color: rgba(84, 84, 84, 1);
$backdrop-color: #000000;
$white-color: #ffffff;
