<section class="header">
    <div class="container">
        <ul class="header_list">
            <li class="header_item header_item--logo">
                <svg class="icon-films" width="24" height="24">
                    <use href="./images/sprite.svg#icon-logo"></use>
                </svg>
            </li>
            <li class="header_item header_item--margin">Home</li>
            <li class="header_item">MY LIBRARY</li>
        </ul>
        <form>
            <input type="search" name="search" autofocus placeholder="Movie search" />
        </form>
    </div>
</section>