<section class="header">
    <div class="container">
        <ul class="header_list">
            <li class="header_item header_item--logo">
                <svg class="icon-films" width="24" height="24">
                    <use href="./images/sprite.svg#icon-logo"></use>
                </svg>
                <span class="span_header">
                    Filmoteka
                </span>
            </li>
            <li class="header_item header_item--margin">HOME</li>
            <li class="header_item">MY LIBRARY</li>
        </ul>
        <form class="header_form">
            <input class="header_input" type="text" name="search" autofocus placeholder="Movie search" />
            <svg class="header_icon" width="12px" height="12px">
                <use href='./images/sprite.svg#icon-search'></use>
            </svg>
        </form>
    </div>
</section>