<ul class="npm">
    <!-- Картки зображень -->
</ul>

<!-- Картинка, на випадок помилки -->
<div class="container errorImg__container errorImg-hidden">
    <p class="error_text">Sorry, but we didn't find a movie with that title. Please enter a different movie title</p>
    <img src="./images/OnErrorImg.gif" alt="Homer Simpson" class="errorImg" />
</div>

<!-- Картинка, на випадок пустої бібліотеки користувача -->
<div class="container errorImg__container errorImg__container--Library errorImg-hidden">
    <p class="alert_greet">Hello movie lover!</p>
    <p class="alert_text">You haven't added a movie yet. Please make your choice.</p>
    <img src="./images/makechoice.gif" alt="Choice" class="emptyImg" />
</div>