<section class="main-section">
  <div class="container js-container"><ul class="container__list"></ul></div>
</section>

<!-- Картинка, на випадок пустої бібліотеки користувача -->
<div
  class="container errorImg__container errorImg__container--Library errorImg-hidden is-hidden js-empty-list-container"
>
  <p class="alert_greet">Hello movie lover!</p>
  <p class="alert_text">
    You haven't added a movie yet. Please make your choice.
  </p>
  <img src="./images/makechoice.gif" alt="Choice" class="emptyImg" />
</div>
