
<section class="main-section">
  <a class="back_to_top" title="Наверх">
     <svg class="icon-arrow-up" width="40" height="40">
                <use href="./images/sprite.svg#icon-arrow-up"></use>
            </svg></a>

  <div class="loader">
    <div class="container js-container id=" tui-pagination-container" class="tui-pagination""><ul class="
      container__list">
      </ul>
    </div>
    <div id="pagination" class="tui-pagination pagination_styl"></div>
</section>

  <div id="pagination" class="tui-pagination"></div>
  <div class="container js-container"><ul class="container__list"></ul></div>
</section>

