
<section class="main-section">
  <h1 class="visually-hidden">Most popular films</h1>
  <a class="back_to_top" title="Наверх">
     <svg class="icon-arrow-up" width="40" height="40">
                <use href="./images/sprite.svg#icon-arrow-up"></use>
            </svg></a>

  <div class="loader">
      <!-- Картинка, на випадок помилки -->
      <div id="noGiv" class="container errorImg__container errorImg-hidden is-hidden-giv">
        <img src="./images/OnErrorImg.gif" alt="Homer Simpson" class="errorImg" />
      </div>
      <!-- конец картики -->
    <div class="container js-container" id="tui-pagination-container" class="tui-pagination"><ul class="
      container__list">
      </ul>
    </div>
    <div id="pagination" class="tui-pagination pagination_styl"></div>
</section>

  <div id="pagination" class="tui-pagination"></div>
  <div class="container js-container"><ul class="container__list"></ul></div>
</section>

