<div class="modal">
    <div class="modal__conteiner" data-backdrop>
        <!-- <div class="container"> -->
        <div class="modal__body">
            <div class="modal__close" data-close-modal>
                <svg class="modal__icon">
                    <use href="./images/sprite.svg#icon-close"></use>
                </svg>
            </div>
            <div class="modal__film">
                <div class="modal__poster"></div>
                <div class="film">
                    <h2 class="film__name">FILM NAME</h2>
                    <div class="film__details">
                        <div class="film__details--static">
                            <h3>Vote / Votes</h3>
                            <h3>Popularity</h3>
                            <h3>Original Title</h3>
                            <h3>Genre</h3>
                        </div>
                        <div class="film__details--dinamic">
                            <h3 class="film__vote-votes">Vote / Votes</h3>
                            <h3 class="film__popularity">Popularity</h3>
                            <h3 class="film__original-title">Original Title</h3>
                            <h3 class="film__genre">Genre</h3>
                        </div>
                    </div>
                    <h4 class="film__about">About</h4>

                    <p class="film__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint beatae unde
                        dolorem neque voluptate commodi optio voluptatum laudantium quae dolore? Pariatur officia qui
                        libero, perspiciatis accusantium et unde consequuntur necessitatibus.</p>

                    <div class="film__nav">
                        <button class="modal__btn" type="submit">add to watched</button>
                        <button class="modal__btn" type="submit">add to queue</button>
                    </div>
                </div>
            </div>


        </div>
        <!-- </div> -->
    </div>
</div>