<div class="modal is-hidden">
  <div class="modal__conteiner" data-backdrop>
    <!-- <div class="container"> -->
    <div class="modal__body">
      <div class="preloader" id="preloader--modal">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <button type="button" class="modal__close" data-close-modal>
        <svg class="modal__icon">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal__film"></div>
      <!-- </div> -->
    </div>
  </div>
</div>
