body {
    transition:   background 500ms linear;
}

body.dark {
    background: $backdrop-color;
}

body.dark .modal__body {
background: $backdrop-color;

}

body.dark .film-card__title {
    color: $white-color;
}

body.dark .film__name {
    color: $white-color;
}

body.dark h3 {
    color: $white-color;
}

body.dark .film__about {
    color: $white-color;
}

body.dark .film__text {
    color: $white-color;
}

body.dark .modal__btn {
    border: 1px solid $white-color;
    color: $white-color;
}

body.dark .modal__btn:hover,
.modal__btn:active {
    color: $backdrop-color;
    border: none;
    color: $white-color;
}

body.dark .modal__icon {
    fill: $white-color;
}

body.dark .modal__icon:hover,
.modal__icon:focus {
    fill: $orange-color
}

body.dark .film-card__img:hover,
.film-card__img:focus {
    box-shadow: 0 0 10px 2px $orange-color;
}

body.dark .footer {
background: $backdrop-color;
}

body.dark .footer__text {
    color: $white-color;
}

body.dark .team-name {
    color: $white-color;
}
body.dark .team-title {
    color: $white-color;
}

body.dark .basicLightbox__placeholder{
background: $backdrop-color;
}




.change-btn {
    transition: all 250ms linear;
   
     width: 40px;
    height: 40px;
    color: #f7f7f7;
    cursor: pointer;
    text-align: center;
    
    background-color: transparent;
    
    
    border: none;
    border-radius: 20%;
    outline: none;
    font-size: 30px;
    transition: all .5s;
    display: block;
    position: absolute;
    transition: all 250ms linear;
   
    top: 195px;
        right: 5px;
   
    @media screen and (min-wodth:$desktop) {
        top: 200px;
            right: 5px;
           
    }

    &:hover, &:focus {
        transform: scale(1.1);
        
    }
}

body.dark .alert_text {
    color: $white-color;
}