.errorImg__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;

    @media screen and (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.errorImg {
    display: block;
    max-width: 100%;

    @media screen and (min-width: 768px) {
        width: 270px;
    }
}
------------Empty--Library------------
.errorImg__container--Library {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.alert_greet {
    margin: 20px 0;
    font-weight: 900;
    color: #ff6b08;
}

.alert_text {
    margin-bottom: 20px;
}

.emptyImg {
    display: block;
    max-width: 100%;

    @media screen and (min-width: 768px) {
        width: 400px;
    }
}
.errorImg-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}