.header {
  background-image: url('../images/header/home-background-mobile@1x.jpg');
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 767px;
}
