.header {
  background-image: url('../images/header/home-background-mobile@1x.jpg');
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 767px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header {
      background-image: url('../images/header/home-background-mobile@2x.jpg');
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 1199px;
    background-image: url('../images/header/home-background-tablet@1x.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header {
      background-image: url('../images/header/home-background-tablet@2x.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    max-width: 1280px;
    background-image: url('../images/header/home-background-desktop@1x.jpg');
    margin: 0 auto;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header {
      background-image: url('../images/header/home-background-desktop@2x.jpg');
    }
  }
}
.header_list {
  display: flex;
  align-items: center;
  padding-top: 44px;
}
.header_item--logo {
  margin-right: auto;
}
.header_item--margin {
  margin-right: 40px;
}
.current {
  border-bottom: 3px solid red;
}
.header_item {
  transition: all 250ms linear;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
.header_item:hover,
.header_btn:focus {
  color: #ff6b01;
}
.icon-films {
  fill: #ffffff;
}
.header_form {
  padding-bottom: 90px;
  margin-top: 60px;
  position: relative;
}
.header_input {
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid #ffffff;
  min-width: 280px;
}
.header_input::placeholder {
  color: #ffffff;
}
.header_icon {
  position: absolute;
  right: 0%;
}
.header_logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .header_input {
    width: 336px;
  }
  .header_form {
    display: flex;
    justify-content: center;
  }
  .header_icon {
    right: 26%;
  }
  .header_logo {
    display: inline-block;
    margin-left: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }
  .header_item--logo {
    display: flex;
    align-items: center;
  }
}
.is-hidden-text {
  visibility: hidden;
}
.errorImg__container{
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.is-hidden-giv {
  visibility: hidden;
  display: none;
}

.header_warning {
  position: absolute;
  bottom: 44px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: red;
  font-size: 14px;
  line-height: 16px;
}
@media screen and (max-width: 767px){
  .header_warning{
    bottom: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .header_icon {
    right: 36%;
  }
}
// =================library-style====================
.header_library {
  background-image: url('../images/header/library-background-mobile@1x.jpg');
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 767px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header_library {
      background-image: url('../images/header/library-background-mobile@2x.jpg');
    }
  }
}

@media screen and (min-width: 768px) {
  .header_library {
    max-width: 1199px;
    background-image: url('../images/header/library-background-tablet@1x.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header_library {
      background-image: url('../images/header/library-background-tablet@2x.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .header_library {
    max-width: 1280px;
    background-image: url('../images/header/library-background-desktop@1x.jpg');
    margin: 0 auto;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .header_library {
      background-image: url('../images/header/library-background-desktop@2x.jpg');
    }
  }
}
.header_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding-bottom: 60px;
}
.header_btn {
  text-transform: uppercase;
  cursor: pointer;
  transition: color 250ms linear,background-color 250ms linear;
  height: 44px;
  width: 130px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}
.header_btn:hover,
.header_btn:focus {
  background-color: #ff6b01;
  border: none;
  color: #ffffff;
}
.header_btn-Watched {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .header_btn-Watched {
    margin-right: 30px;
  }
  .header_btn {
    width: 152px;
  }
}
 