.main-section {
    padding-top: 20px;
    padding-bottom: 40px;

    @media screen and (min-width: $tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.container__list {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: $tablet) {
        gap: 32px 32px;
    }

    @media screen and (min-width: $desktop) {
        gap: 32px 15px;
    }
}



.film-card__item {
    cursor: pointer;
    transition: all 250ms linear;
        
    border-radius: 10px;
    background-color: transparent;
}

.film-card__item:hover,
.film-card__item:hover {
    transform: scale(1.03) translateZ(0);
    // box-shadow: 0px -5px 10px 2px rgba(255, 107, 8, 1);
}

.film-card__item:not(:last-child) {
    @media screen and (max-width: $tablet) {
        margin-bottom: 20px;
    }
}

.film-card__img {
    object-fit: cover;
    transition: all 250ms linear;
    width: 280px;
    height: 402px;
    margin-bottom: 10px;

    border-radius: 10px;
    @media screen and (min-width: $tablet) {
            width: 336px;
            height: 455px;
            margin-bottom: 8px;
        }
                 @media screen and (min-width: $desktop) {
                     width: 395px;
                    height: 574px;
                    margin-bottom: 12px;
                 }
}

                .film-card__img:hover,
                .film-card__img:focus {
                    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
                }


               



.film-card__title {
    
    @include font(500, 12px, 1.17, null);

    max-width: 395px;;

    @media screen and (min-width: $tablet) {
            @include font(500, 12px, 1.33, null);
        }
                 @media screen and (min-width: $desktop) {
                    @include font(500, 20px, 1.2, null);
                 }
    font-family: 'Roboto';
    
    text-transform: uppercase;
    color: $backdrop-color ;
        
}

.film-card__flex {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.film-card__flex__text {
    font-family: 'Roboto';

    @include font(500, 12px, 1.33, null);

    color: $accent-bg-color;

    @media screen and (min-width: $desktop) {
            @include font(500, 20px, 1.2, null);
        }
}

.film-card__flex__text:first-child{
    margin-right: 4px;
}
.film-card__flex__rating {
    margin-left: 8px;
    padding: 1px 10px;
    height: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    border-radius: 5px;
    color: $white-color;
    background-color: $orange-color;
    @media screen and (min-width: $desktop) {
    padding: 3px 12px;
    height: 20px;
    }
}





