.film-card__img {
    width: 280px;
    height: 402px;
    @media screen and (min-width: $tablet) {
            width: 336px;
            height: 455px;
        }
                 @media screen and (min-width: $desktop) {
                     width: 395px;
                    height: 574px;
                 }
}

.film-card__img{
    margin-bottom: 10px;
    
        @media screen and (min-width: $tablet) {
            margin-bottom: 8px;
        }
        @media screen and (min-width: $desktop) {
            margin-bottom: 12px;
        }
}


.film-card__title {
    @include font(500, 12px, 1.17, null);

    max-width: 395px;;

    @media screen and (min-width: $tablet) {
            @include font(500, 12px, 1.33, null);
        }
                 @media screen and (min-width: $desktop) {
                    @include font(500, 20px, 1.2, null);
                 }
    font-family: 'Roboto';
    
    text-transform: uppercase;
    color: $backdrop-color ;
}

.film-card__flex__text {
    font-family: 'Roboto';

    @include font(500, 12px, 1.33, null);

    color: $accent-bg-color;

    @media screen and (min-width: $desktop) {
            @include font(500, 20px, 1.2, null);
        }
}

.film-card__flex__text:first-child{
    margin-right: 4px;
}

.film-card__flex{
    margin-top: 5px;
    display: flex;
    align-items: center;
}


.film-card__item:not(:last-child) {
    @media screen and (max-width: $tablet) {
           margin-bottom: 20px;
        }
}

.main-section{
    padding-top: 20px;
    padding-bottom: 40px;

    @media screen and (min-width: $tablet) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
}

.container__list {
    display: flex;
    flex-wrap: wrap;
    
    @media screen and (min-width: $tablet) {
            gap: 32px 32px;
        }
    
        @media screen and (min-width: $desktop) {
            gap: 32px 15px;
        }
}

