.modal {
    // display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;   
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
}
.modal:target {
    opacity: 1;
    pointer-events: auto;
    
}
.modal__conteiner {
    display: flex;
    width: 100%;
    height: 100%;
    @media screen and (min-width: $mobile) {
        }
}

.modal__body {
    position: relative;
    margin: auto;
    padding: 48px 20px;
    width: 280px;
    height: 500px;
    border-radius: 5px;
    text-align: left;
    background-color: $white-color;
    @media screen and (max-width: $tablet) {
            overflow-y: scroll;
        }
    @media screen and (min-width: $tablet) {
        width: 704px;
        height: 552px;
        padding: 40px 36px;
    }
    @media screen and (min-width: $desktop) {
        width: 806px;
        height: 558px;
        padding: 40px 12px;
    }
}
.modal__close {
    position: absolute;
    top: 8;
    right: 8;
    border: none;
    background: transparent;
}
.modal__icon {
    transition: fill 250ms linear;
    cursor: pointer;
    width: 30px;
    height: 30px;
    &:hover, &:focus{
        fill: $orange-color;
    }
}

.modal__img {
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 5px;
    @media screen and (min-width: $desktop) {
        max-width: 374px;
        height: 478px;
    }
}
.modal__poster {
    display: block;
    width: 240px;
    height: 357px;
    border-radius: 5px;
    @media screen and (min-width: $tablet) {
    width: 264px;
    height: 373.55px;
    }
    @media screen and (min-width: $desktop) {
    width: 375px;
    height: 478px;
    }
}
.modal__film {
    @media screen and (min-width: $mobile) {
    display: flex;
    flex-direction: column;
    }
    @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    }
    @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    }
}
.film__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    text-transform: uppercase;
    @media screen and (min-width: $mobile) {
    margin-top: 20px;
    }
    @media screen and (min-width: $tablet) {
        margin-top: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    }
    @media screen and (min-width: $desktop) {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
    }
}

.film__text {
    margin-top: 8px;
    margin-bottom: 20px;
    width: 240px;
    // height: 184px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    @media screen and (min-width: $tablet) {
        width: 264px;
    }
    @media screen and (min-width: $desktop) {
        width: 391px;
    }
}
.film__about {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: $backdrop-color;
}
.film {
    @media screen and (min-width: $tablet) {
        margin-left: 16px;
    }
    @media screen and (min-width: $desktop) {
        margin-left: 16px;
    }
}
.vote {
    width: 36px;
    padding: 1px 10px;
    border-radius: 5px;
    color: $white-color;
    background-color: $orange-color;
}
.votes {
    margin-left: 7px;
}
.film__details {
    display: flex;
    margin: 20px 0;
}
.film__details--static {
    margin-right: 80px;
    color: $grey-color;
    @media screen and (min-width: $mobile) {
    margin-right: 39px;
    }
    @media screen and (min-width: $tablet) {
    margin-right: 32px;
    }
    @media screen and (min-width: $desktop) {
    margin-right: 80px;
    }
}
.film__details--static > h3 {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    &:nth-child(n + 2) {
        margin-top: 8px;
        }
}

// .film__details--dinamic {
    // margin-right: 83px;
// }
.film__details--dinamic > h3 {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    &:last-child {
    text-transform: capitalize;
    }
    &:nth-child(n + 2) {
        margin-top: 8px;
    }
}
.film__nav {
    @media screen and (min-width: $mobile) {
    display: flex;
    }

}
.modal__btn {
    cursor: pointer;
    width: 110px;
    height: 44px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $backdrop-color;
    border-radius: 5px;
    background: transparent;
    transition: color 150ms linear,background-color 250ms linear;
    @media screen and (min-width: $tablet) {
        width: 125.03px;
    }
    @media screen and (min-width: $desktop) {
        width: 136px;
    }
        &:nth-child(n + 2) {
                margin-left: 15px;
            }
    &:focus, &:hover {
    border: none;
    box-shadow: 0 0 0 4px scale-color($orange-color);
}
}
.modal__btn:hover,
.modal__btn:active {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
    background-color: scale-color($orange-color);
    border: none;
}


.modal__body::-webkit-scrollbar {
    width: 7px;
}

.modal__body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#ff6b08, rgba(255, 107, 1, 0.6));
    border-radius: 10px;
}